0 */6 * * * python3 /usr/local/book_prices/cronjobs/update_prices.py -c /usr/local/book_prices/cronjobs/config/config.json
0 0 * * * python3 /usr/local/book_prices/cronjobs/delete_prices.py -c /usr/local/book_prices/cronjobs/config/config.json