<div class="card d-flex flex-column flex-fill">
    {% if b.image_url %}
    <a href="{{ b.url }}">
        <img alt="{{ b.title }}" class="card-img-top" src="{{ b.image_url }}">
    </a>
    {% endif %}
    <div class="card-footer book-card-footer mt-auto">
        <h5 class="card-title">
            <a class="link-secondary" href="{{ b.url }}">{{ b.title }}</a>
            {% if b.was_added_recently %}
            <span class="badge bg-success">Ny</span>
            {% endif %}
        </h5>
        <p class="card-text">{{ b.author }}</p>
    </div>
</div>