{% extends "base.html" %}
{% set active_page = "search" %}
{% block content %}

<div class="row">
    <div class="col-sm-8 mb-4">
        <a class="link-secondary text-decoration-none" href="{{ view_model.return_url }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"></path>
            </svg>
            <span>Tilbage til oversigt</span>
        </a>
    </div>
    {% if current_user.is_authenticated %}
    <div class="col-sm-4 text-end">
          <a class="btn btn-primary" href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z"/>
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
            </svg>
        </a>
        {% if view_model.show_edit_and_delete_buttons %}
        <a class="btn btn-primary" href="{{ url_for('book.edit', book_id=view_model.book.id) }}">Rediger</a>
        <a id="btn-delete-book" class="btn btn-danger" data-book-id="{{ view_model.book.id }}" href="">Slet</a>
        {% endif %}
    </div>
    {% endif %}
</div>

<h3 class="pb-4">
    {{ view_model.book.title }}
    <small class="text-muted">af <a class="link-secondary" href="{{ view_model.author_search_url }}">{{ view_model.book.author }}</a></small>
</h3>
<div class="container pb-4">
    <div class="row">
        <div class="col-sm-4 pb-4">
            {% if view_model.book.image_url %}
            <div class="text-center">
                <img src="{{ view_model.book.image_url }}" class="img-fluid rounded" alt="{{ view_model.book.title }}">
            </div>
            {% endif %}
        </div>
        <div class="col-sm-8 text-left">
            <p><strong>Titel:</strong> {{ view_model.book.title }}</p>
            <p><strong>Forfatter(e):</strong> {{ view_model.book.author }}</p>
            <p><strong>Format:</strong> {{ view_model.book.format }}</p>
            <p><strong>ISBN:</strong> {{ view_model.book.isbn }}</p>
            <p><strong>Hentet: </strong> {{ view_model.book.created }}</p>
        </div>
    </div>
</div>

{% if view_model.book_prices %}
<h4 id="latest-prices-heading">Seneste priser</h4>
<div class="container pb-4">
    <table aria-describedby="latest-prices-heading" class="table mb-6">
        <thead>
        <tr>
            <th scope="col">Butik</th>
            <th scope="col">Pris</th>
            <th scope="col">Hentet</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for p in view_model.book_prices %}
        <tr>
            <td>{{ p.book_store_name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.created }}</td>
            <td>
                {% if p.is_price_available %}
                <a class="btn btn-secondary mb-1" href="{{ p.price_history_url }}">Prisudvikling</a>
                {% else %}
                <a class="btn btn-secondary disabled mb-1" aria-disabled="true">Prisudvikling</a>
                {% endif %}
                <a class="btn btn-secondary mb-1" target="_blank" rel="noopener" href="{{ p.url }}">Link</a>
                {% if view_model.show_edit_and_delete_buttons %}
                <a id="btn-delete-book-from-bookstore" class="btn btn-danger mb-1"
                   data-book-id="{{ view_model.book.id }}" data-bookstore-id="{{ p.book_store_id }}" href="">Slet</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Butiksoplysninger mangler for denne bog.</p>
{% endif %}

{% if view_model.book_prices %}
<h4>Prisudvikling</h4>
<div id="chart" data-book="{{ view_model.book.id }}"></div>
<script src="{{ url_for('static', filename='js/price_chart.js') }}"
        integrity="{{ sri_attribute_values['price_chart_js'] }}"></script>
<script src="{{ url_for('static', filename='js/book.js') }}"
        integrity="{{ sri_attribute_values['book_js'] }}"></script>
{% endif %}

{% if view_model.show_edit_and_delete_buttons %}
<script src="{{ url_for('static', filename='js/delete_book.js') }}"
        integrity="{{ sri_attribute_values['delete_book_js'] }}"></script>
{% endif %}

<noscript>Venligst aktivér JavaScript i din browser</noscript>
{% endblock %}
