{% extends "base.html" %}
{% set active_page = "search" %}
{% block content %}
<p class="text-muted">
    <a class="link-secondary text-decoration-none" href="{{ view_model.return_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"></path>
        </svg>
        <span>Tilbage til {{ view_model.book.title }}</span>
    </a>
</p>
<h3>Prishistorik for <a class="link-secondary" target="_blank" rel="noopener" href="{{ view_model.store_url }}">
    {{ view_model.book.title }} hos {{ view_model.book_store.name }}
</a>
</h3>
<div id="chart" data-book="{{ view_model.book.id }}" data-store="{{ view_model.book_store.id }}"></div>
<h4 id="price-table-heading">Seneste priser</h4>
<table id="price-table" aria-describedby="price-table-heading" class="table">
    <thead>
    <tr>
        <th scope="col">Dato</th>
        <th scope="col">Pris</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="/static/assets/js/price_chart.js"
        integrity="sha256-nplyvECabg1ucrGD67kLnowW4omKElWJh4XdHmWEThU=
        sha384-wHjoO1W6m3By/6IG0EDWFgSBvAA3bNfM2qZytT83CBoz7o7FtPlFU5VVBFCsrrZD
        sha512-DnLignW8sRBNHfGw7u4jZHvDjewlfa2R0vly+JJWiS0SJxHQVmDd8aEVLc0D3tCvuQJn4oBsfjv7lhDoZ450Ig=="></script>
<script src="/static/assets/js/price_history.js"
        integrity="sha256-67YRdRr4cO3XkXqiC7K1MlFfdK8qdrThoOhrNMHpSKA=
        sha384-W4iZzgIOVLofNf0/aZBxk3J8e9EmOvu/kF8Cpt/x35fU5lU0OYsicwlgr4W7VNuq
        sha512-nFL4L61zfTMKi1UJdb3inhh9Nw68jwGg9PUdFjfFzKZ7pWCWbg7Ffw+Z1rFvy2X8Jo/en9tvcwgO5YYqtfE1tw=="></script>
<noscript>Venligst aktivér JavaScript i din browser</noscript>
{% endblock %}