{% extends "base.html" %}
{% set active_page = "search" %}
{% block content %}
<h1>Søg</h1>
<div class="card mb-4">
    <div class="card-body">
        <form action="/search" class="col" enctype="application/x-www-form-urlencoded" method="get">
            <div class="row g-3 mb-3">
                <input  id="search-input" class="form-control" name="search" type="text" placeholder="Titel, forfatter eller ISBN-13" list="search-suggestions" value="{{ view_model.search_phrase }}">
                <datalist id="search-suggestions"></datalist>
            </div>
             <div class="row g-3 mb-3">
                 <select id="author-select" class="form-select" name="author" aria-label="forfatter">
                     {% for a in view_model.authors %}
                        {% if a.selected %}
                            <option value="{{ a.value }}" selected>{{ a.text }}</option>
                        {% else %}
                            <option value="{{ a.value }}">{{ a.text }}</option>
                        {% endif %}
                     {% endfor %}
                 </select>
            </div>
            <button class="btn btn-secondary" type="submit">Søg</button>
        </form>

    </div>
</div>

 <form class="mb-3">
         {% for o in view_model.sorting_options %}
            {% if o.selected %}
                <a href="{{ o.url }}" class="btn btn-sm btn-secondary mb-1 active">{{ o.text }}</a>
            {% else %}
                <a href="{{ o.url }}" class="btn btn-sm btn-secondary mb-1">{{ o.text }}</a>
            {% endif %}
         {% endfor %}
 </form>

<div class="row row-cols-1 row-cols-md-4 g-4 pb-5">
    {% if view_model.book_list|length == 0 %}
     <div class="col">
        <h3>Ingen bøger fundet</h3>
        <p>Prøv en anden titel eller forfatter</p>
     </div>
    {% endif %}

    {% for b in view_model.book_list %}
    <div class="col d-flex align-items-stretch">
        {% include "book/_book_card.html" %}
    </div>
    {% endfor %}
</div>
<nav aria-label="Pagination">
    <ul class="pagination">
        <li class="{{ 'page-item' if view_model.previous_page else 'page-item disabled' }}">
            <a aria-label="Previous" class="page-link link-secondary" href="{{ view_model.previous_page_url }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link link-secondary" href="">
                {{ view_model.current_page }}
            </a>
        </li>
        <li class="{{ 'page-item' if view_model.next_page else 'page-item disabled' }}">
            <a aria-label="Next" class="page-link link-secondary" href="{{ view_model.next_page_url }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<script src="{{ url_for('static', filename='js/search.js') }}"
        integrity="{{ sri_attribute_values['search_js'] }}"></script>
<script src="{{ url_for('static', filename='js/booklist.js') }}"></script>
{% endblock %}