venv/
test/
bookprices/web/assets/images/*
bookprices.egg-info/
node_modules/

docker/db/data/*
!docker/db/data/.empty

docker/db/init/*
!docker/db/init/.empty

docker/db/config/*.cnf
!docker/db/config/.empty

docker/jobrunner/images/*
!docker/jobrunner/images/.empty

docker/cronjob/images/*
!docker/cronjob/images/.empty

docker/jobrunner/log/*
!docker/jobrunner/log/.empty

docker/cronjob/log/*
!docker/cronjob/log/.empty

docker/nginx/tls/*
!docker/nginx/tls/.empty

docker/nginx/log/*
!docker/nginx/log/.empty

.vscode/
.idea/
.pytest_cache/

.DS_Store
config.json
config_host.json
google_client_secrets.json
*.pyc
*.log
*.env
!*.example

!sql/insert_book_with_prices.sql