venv/
test/
bookprices.egg-info/
docker/db/
docker/cronjob/images/
docker/cronjob/config/
docker/cronjob/log/
docker/nginx/tls/
.vscode/
.idea/
.DS_Store
*.pyc
*.log
*.env
config.json
sql/insert_book_with_prices.sql
sql/user.sql