venv/
test/
bookprices.egg-info/
docker/db/data/
docker/db/init/
docker/cronjob/images/
docker/cronjob/log/
docker/nginx/tls/
docker/nginx/log/
node_modules/

.vscode/
.idea/
.pytest_cache/

.DS_Store
config.json
*.pyc
*.log
*.env
!*.example

sql/*.sql
!sql/insert_book_with_prices.sql