networks:
  localnetwork:
    name: bookprices_local
services:
  jobrunner:
    image: dsp8ef9/bookprices_jobrunner:latest
    env_file: ./docker/jobrunner/.jobrunner.env
    volumes:
      - ./docker/jobrunner/logs:/app/logs
      - ./docker/jobrunner/images:/app/images
    depends_on:
      - job_api
      - db
      - redis
    networks:
      - localnetwork
  jobscheduler:
    image: dsp8ef9/bookprices_jobscheduler:latest
    env_file: ./docker/jobscheduler/.jobscheduler.env
    volumes:
      - ./docker/jobscheduler/logs:/app/logs
    depends_on:
      - job_api
    networks:
      - localnetwork
  web:
    image: dsp8ef9/bookprices_web:latest
    env_file: ./docker/web/.web.env
    volumes:
      - ./google_client_secrets.json:/usr/local/bookprices_web/google_client_secrets.json:ro
      - ./docker/jobrunner/images:/usr/local/bookprices_web/images/book:ro
    depends_on:
      - job_api
      - db
      - redis
    networks:
      - localnetwork
  nginx:
    restart: always
    image: dsp8ef9/bookprices_nginx:latest
    env_file: ./docker/nginx/.nginx.env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx/log:/var/log/nginx
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/nginx/tls:/etc/nginx/tls:ro
      - ./docker/jobrunner/images:/usr/share/nginx/html/static/images/books:ro
    depends_on:
      - web
    networks:
      - localnetwork
  job_api:
    image: dsp8ef9/bookprices_jobapi:latest
    env_file: docker/job_api/.job_api.env
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - localnetwork
  db:
    image: mysql:8.4.7
    command: --mysql-native-password=ON
    restart: always
    env_file: ./docker/db/.db.env
    ports:
      - "3306:3306"
    volumes:
      - ./docker/db/config/my.cnf:/etc/my.cnf:ro
      - ./docker/db/data:/var/lib/mysql
      - ./docker/db/init:/docker-entrypoint-initdb.d:ro
    networks:
      - localnetwork
  redis:
    image: redis:8.4.0-alpine
    ports:
      - "6379:6379"
    networks:
      - localnetwork