setuptools~=68.2.2
mysql-connector-python~=8.4.0
requests~=2.32.0
beautifulsoup4~=4.12.2
flask~=3.0.3
flask-caching~=2.3.0
flask-session~=0.8.0
flask-login~=0.6.3
redis~=5.0.4
pytest~=7.4.3
google-auth~=2.29.0
google-auth-oauthlib~=1.2.0
google-auth-httplib2~=0.2.0
google-api-python-client~=2.131.0