# Environment variables for MySQL Server
MYSQL_SERVER=
MYSQL_SERVER_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Environment variables for Redis
REDIS_SERVER=
REDIS_SERVER_PORT=
CACHE_REDIS_DB=

# Environment variables for Job API
JOB_API_BASE_URL=http://job_api:8000

# Environment variables for Flask app
TZ=
DEBUG=