{% extends "base.html" %}
{% set active_page = "status" %}
{% block content %}
<h1>Status</h1>
 <div class="col-4">
     <div class="form-group">
         <label for="timeperiod-select">Vælg tid: </label>
         <select id="timeperiod-select" class="form-select" name="timeperiod" aria-label="Tid">
             {% for a in view_model.timeperiod_options %}
                <option value="{{ a.days }}">{{ a.text }}</option>
             {% endfor %}
        </select>
     </div>

 </div>
<div id="failed-price-updates-container" class="mt-4"></div>
<div id="book-import-counts-container" class="mt-4"></div>

<script  src="/static/assets/js/status.js"
         integrity="sha256-pOgHzsHyLMWtL7TaX0lojVtj7uhtrT46Ihbovg/XjDs=
         sha384-HNBWuGn9f5AMehVEN8aYOEBSA6msnFdImkrTWBJnMTK9jm2cCarrHO6h4LBIkq5D
         sha512-Kma1UqUj/G0RMt3CUtfAPiMFP9H7kxva0dj65PdOPd6+Rc9ndvTEup8CMcwhiEVgvOn0hsGX9KYLraU9Tobqmg=="></script>
{% endblock %}
