{% extends "base.html" %}
{% set active_page = "status" %}
{% block content %}
<h1>Status</h1>
 <div class="col-4">
     <div class="form-group">
         <label for="timeperiod-select">Vælg tid: </label>
         <select id="timeperiod-select" class="form-select" name="timeperiod" aria-label="Tid">
             {% for a in view_model.timeperiod_options %}
                <option value="{{ a.days }}">{{ a.text }}</option>
             {% endfor %}
        </select>
     </div>

 </div>
<div id="failed-price-updates-container" class="mt-4"></div>

<script src="/static/assets/js/status.js"></script>
{% endblock %}