<h3>Jobkørsler</h3>

<div id="msg-container"></div>
<div id="job-run-container" class="mt-4"></div>

{% include "common/_noscript_alert.html" %}
{% include "job/_job_run_create_edit_modal.html" %}

<button type="button" id="btn-create-job-run" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#job-run-modal">Opret</button>

<script src="{{ url_for('static', filename='js/job_common.js') }}"
        integrity="{{ sri_attribute_values['job_common_js'] }}"></script>
<script src="{{ url_for('static', filename='js/job_run.js') }}"
        integrity="{{ sri_attribute_values['job_run_js'] }}"></script>
