{% extends "base.html" %}
{% block content %}
   <h1>Bøger</h1>
    <form class="row g-3" method="get" action="/">
        <div class="col-auto">
            <input type="text" class="form-control" name="search" value="">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-secondary mb-3">Søg</button>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for b in books %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a class="link-secondary" href="{{ url_for('book', book_id=b.id) }}">{{ b.title }}</a></h5>
            <p class="card-text">{{ b.author }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}