0/10 * * * * python3 /usr/local/price_updater/update_prices.py -c /usr/local/price_updater/config/config.json
0/5 * * * * python3 /usr/local/price_updater/delete_prices.py -c /usr/local/price_updater/config/config.json