{
  "database": {
    "host": "",
    "port": "",
    "username": "",
    "password": "",
    "name": ""
  },
    "cache": {
    "host": "",
    "port": "",
    "database": 0
  },
  "logdir": "",
  "imgdir": "",
  "loglevel":
}
