<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bogpriser</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/icon/favicon.svg">
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <!-- JS -->
    <script src="/static/assets/js/bootstrap.bundle.js"
            integrity="sha256-nXxM3vVk1ByhwczQW2ZCRZedoIL4U5PuQKMoprvQKzE=
            sha384-6yr0NH5/NO/eJn8MXILS94sAfqCcf2wpWTTxRwskNor6dIjwbYjw1/PZpr654rQ5
            sha512-GTHq28lFyjvEmJ5HcqINJlsDRfYe7v0v6Ru7X8FyOUSngYz+KJs6v3iMiMxGN1z07sbd3zKH0H4WZ3sZMHUPHw=="></script>
    <script src="/static/assets/js/jquery.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=
            sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs
            sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="></script>
    <script src="/static/assets/js/apexcharts.min.js"
            integrity="sha256-bR4OqwNl7DxLsm+KAaf1MyhtmEsYgrI6tIDOpWHy8es=
            sha384-PAhCwijXI5R/wFUO0uUXQYk6uq3qqIPdnCeMpuolYcrCtcoEhH/zl8ZGjd4RPzIt
            sha512-mDe5mwqn4f61Fafj3rll7+89g6qu7/1fURxsWbbEkTmOuMebO9jf1C3Esw95oDfBLUycDza2uxAiPa4gdw/hfg=="></script>
</head>
<body>
<div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="pb-3 mb-5 border-bottom">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
               <a href="/" class="navbar-brand align-items-center text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-book-half"
                 viewBox="0 0 16 16">
                    <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
                <span class="fs-2 align-items-center">Bogpriser</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Hjem</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Søg</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Om siden</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="pt-5 my-5 text-muted border-top">
        Lavet af <a class="text-secondary" href="https://stuhrs.dk">Daniel S.</a> &middot; &copy; 2024
    </footer>
</div>
</body>
</html>
