{% extends "base.html" %}
{% set active_page = "search" %}
{% block content %}
<p class="text-muted">
    <a class="link-secondary text-decoration-none" href="{{ view_model.return_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"></path>
        </svg>
        <span>Tilbage til oversigt</span>
    </a>
</p>

<h3 class="pb-4">
    {{ view_model.book.title }}
    <small class="text-muted">af <a class="link-secondary" href="{{ view_model.author_search_url }}">{{ view_model.book.author }}</a></small>
</h3>
<div class="container pb-4">
    <div class="row">
        <div class="col-4">
            {% if view_model.book.image_url %}
            <div class="text-center">
                <img src="{{ view_model.book.image_url }}" class="img-fluid rounded" alt="{{ view_model.book.title }}">
            </div>
            {% endif %}
        </div>
        <div class="col">
            <p><strong>Titel:</strong> {{ view_model.book.title }}</p>
            <p><strong>Forfatter(e):</strong> {{ view_model.book.author }}</p>
            <p><strong>Format:</strong> {{ view_model.book.format }}</p>
            <p><strong>ISBN:</strong> {{ view_model.book.isbn }}</p>
        </div>
    </div>
</div>

<h4 id="latest-prices-heading">Seneste priser</h4>
<table aria-describedby="latest-prices-heading" class="table">
    <thead>
    <tr>
        <th scope="col">Butik</th>
        <th scope="col">Pris</th>
        <th scope="col">Hentet</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for p in view_model.book_prices %}
    <tr>
        <td>{{ p.book_store_name }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.created }}</td>
        <td>
            {% if p.is_price_available %}
            <a class="btn btn-secondary" href="{{ p.price_history_url }}">Prisudvikling</a>
            {% else %}
            <a class="btn btn-secondary disabled" aria-disabled="true">Prisudvikling</a>
            {% endif %}
            <a class="btn btn-secondary" href="{{ p.url }}">Link</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h4>Prisudvikling</h4>
<div id="chart" data-book="{{ view_model.book.id }}"></div>
<script src="/static/assets/js/price_chart.js"
        integrity="sha256-nplyvECabg1ucrGD67kLnowW4omKElWJh4XdHmWEThU=
        sha384-wHjoO1W6m3By/6IG0EDWFgSBvAA3bNfM2qZytT83CBoz7o7FtPlFU5VVBFCsrrZD
        sha512-DnLignW8sRBNHfGw7u4jZHvDjewlfa2R0vly+JJWiS0SJxHQVmDd8aEVLc0D3tCvuQJn4oBsfjv7lhDoZ450Ig=="></script>
<script src="/static/assets/js/book.js"
        integrity="sha256-JgxBFm9mLSK3fp3T1m+xKA53BSESdLU539ubqoNU9hM=
        sha384-CFgcxa+ns728v2fZ5BuO8tXDFjUOoXrqzFuQj9OTj/l3hfJRZxWtqEEXkGouaqts
        sha512-h+NIDb7LNRIEAjRpKewcUzRtuh6HgYb2cZAA82w8py4J8fRG0b18kZqAiElv/o/QGhEJaH28QPOhItyHchn2Bw=="></script>
<noscript>Venligst aktivér JavaScript i din browser</noscript>
{% endblock %}

