{% extends "base.html" %}
{% block content %}
<p class="text-muted">
    <a class="link-secondary text-decoration-none" href="{{ view_model.return_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"></path>
        </svg>
        <span>Tilbage til oversigt</span>
    </a>
</p>

<h3 class="pb-4">
    {{ view_model.book.title }}
    <small class="text-muted">af {{ view_model.book.author }}</small>
</h3>
<div class="container pb-4">
    <div class="row">
        <div class="col-4">
            {% if view_model.book.image_url %}
            <div class="text-center">
                <img src="{{ view_model.book.image_url }}" class="img-fluid rounded" alt="{{ view_model.book.title }}">
            </div>
            {% endif %}
        </div>
        <div class="col">
            <p><strong>Titel:</strong> {{ view_model.book.title }}</p>
            <p><strong>Forfatter(e):</strong> {{ view_model.book.author }}</p>
            <p><strong>ISBN:</strong> {{ view_model.book.isbn }}</p>
        </div>
    </div>
</div>

<h4>Seneste priser</h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Butik</th>
        <th scope="col">Pris</th>
        <th scope="col">Hentet</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for p in view_model.book_prices %}
    <tr>
        <td>{{ p.book_store_name }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.created }}</td>
        <td>
            {% if p.is_price_available %}
            <a href="{{ url_for('price_history', book_id=view_model.book.id, store_id=p.book_store_id, search=view_model.search_phrase, page=view_model.page) }}">
                Prisudvikling
            </a>
            {% else %}
            <u class="text-muted">Prisudvikling</u>
            {% endif %}
            <a href="{{ p.url }}">Link</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h4>Prisudvikling</h4>
<img class="img-fluid rounded" src="data:image/png;base64,{{ view_model.plot_data }}" alt="Prisudvikling">
{% endblock %}

