{% extends "base.html" %}
{% set active_page = "create_book" %}
{% block content %}
    <h2>Tilføj bog</h2>
    <form method="post" action="{{ url_for('page.create') }}">
        <div class="mb-3">
            <label for="{{ view_model.isbn_field_name }}" class="form-label">ISBN-13</label>
            <input name="{{ view_model.isbn_field_name }}" type="text" class="form-control"
                   minlength="13" maxlength="13" id="{{ view_model.isbn_field_name }}"
                   value="{{ view_model.isbn }}" required="required">
        </div>
        <div class="mb-3">
            <label for="{{ view_model.title_field_name }}" class="form-label">Titel</label>
            <input name="{{ view_model.title_field_name }}" type="text" class="form-control"
                   id="{{ view_model.title_field_name }}" value="{{ view_model.title }}" required="required">
        </div>
        <div class="mb-3">
            <label for="{{ view_model.author_field_name }}" class="form-label">Forfatter</label>
            <input name="{{ view_model.author_field_name }}" type="text" class="form-control"
                   id="{{ view_model.author_field_name }}" value="{{ view_model.author }}" required="required">
        </div>
        <div class="mb-3">
            <label for="{{ view_model.format_field_name }}" class="form-label">Format</label>
            <input name="{{ view_model.format_field_name }}" type="text" class="form-control"
                   id="{{ view_model.format_field_name }}" value="{{ view_model.format }}" required="required">
        </div>
        <button type="submit" class="btn btn-primary">Gem</button>
    </form>
{% endblock %}