{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<h2>Senest tilføjet</h2>
<div class="row row-cols-1 row-cols-md-4 g-4 pb-5">
    {% for b in view_model.newest_books %}
    <div class="col d-flex align-items-stretch">
         {% include "book/_book_card.html" %}
    </div>
    {% endfor %}
    <a class="link-secondary" href="{{ view_model.newest_books_url }}">
        Vis flere
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
        </svg>
    </a>
</div>
<h2>Senest opdateret</h2>
<div class="row row-cols-1 row-cols-md-4 g-4 pb-5">
    {% for b in view_model.latest_prices_books %}
    <div class="col d-flex align-items-stretch">
        {% include "book/_book_card.html" %}
    </div>
    {% endfor %}
      <a class="link-secondary" href="{{ view_model.latest_prices_books_url }}">
        Vis flere
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
        </svg>
    </a>
</div>
{% endblock %}