{% extends "base.html" %}
{% set active_page = "user" %}
{% block content %}
<h1>Redigér bruger (kun visning)</h1>
<form action="" method="post">
    <div class="mb-3">
        <label for="id" class="form-label">Id</label>
        <input type="text" class="form-control" id="id" value="{{ view_model.id }}" disabled>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" value="{{ view_model.email }}" disabled>
    </div>
    <div class="mb-3">
        <label for="firstname" class="form-label">Fornavn</label>
        <input type="text" class="form-control" id="firstname" value="{{ view_model.firstname }}" disabled>
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label">Efternavn</label>
        <input type="text" class="form-control" id="lastname" value="{{ view_model.lastname }}" disabled>
    </div>
    <div class="mb-3">
        <label for="is-active" class="form-label">Aktiv</label>
        {% if view_model.is_active %}
        <input type="checkbox" class="form-check-input" id="is-active" checked="checked" disabled="disabled">
        {% else %}
        <input type="checkbox" class="form-check-input" id="is-active" disabled="disabled">
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary disabled">Gem</button>
    <a href="{{ url_for('page.user') }}" class="btn btn-secondary disabled">Annuller</a>
</form>
{% endblock %}
